---
import { Icon } from "astro-icon/components"

export interface Props {
  class?: string
  iconName: string
  href: string
  id?: string
  hidden?: "hidden"
}

const { href, iconName, ...rest } = Astro.props
---

<li {...rest}>
  <a href={href} rel="noreferrer">
    <Icon name={iconName} />
    <slot />
  </a>
</li>

<style>
  li {
    margin: 0.5rem 0 0.25rem;
    padding: 0;

    & a {
      display: inline-flex;
      align-items: center;
    }

    & [data-icon] {
      margin: 0 0.4rem 0 0;
      text-align: center;
      font-size: 35px;
    }

    @media (min-width: 600px) {
      display: inline;
      padding-right: 1rem;
      margin: 0;

      &.email {
        margin-left: -0.05rem;
      }

      & [data-icon] {
        margin-right: 0.25rem;
        margin-left: 0;
      }
    }
  }
</style>
